:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    
}

*{
    box-sizing: inherit;
}

html{
    height: 120%;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: rgb(56, 52, 52);
}
html {
	height: 120%;
}
body {
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #353535;
    margin: 0;
}
.wed{
    width: 100%;
    height: 100%;
    background-color: #353535;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_full-width{
    width: 100%;
}


.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}




a {
    color: #dd4814;
    text-decoration: none;
}

.megamenu {
	width: 550px;
	left: 1px !important;
}

.megamenu li {
	background: white;
}
@media (max-width: 767px) {
	.megamenu .nav > li > a {
		color: #fff;
	}
	.megamenu li {
		background: #772953;
	}
}
.megamenu .nav > li > a {
	font-size: 13px;
    color: #000;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.megamenu .nav > li :hover, :focus {
    
        outline: none;
        text-decoration: none;
        color: rgb(197, 97, 97);
    
}



.megamenu .nav > li > a strong {
	color: red;
}

.megamenu .dropdown-item {
	padding: 0;
}

@media (min-width: 768px){
    .dropdown-list {
        width: 25%;
    }
}

.dropdown-list{
    float: left;
}

