.header {
    background-color: #0e1a4e;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    right: 0;
    left: 0;
    margin-bottom: 21px;
}




.nav-main {
    padding: 0 15px;
    position: fixed;
    justify-content: space-between;
    display: flex;
    position: relative;


}

.nav-logo {
    width: fit-content;
    position: relative;
    display: flex;
    width: 60px;
    margin-left: 0%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.nav-logo > a > img {
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.nav-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #49162a;
}

.nav-item-link {
    padding: 15px;
}

.nav-item {
    display: relative;
    

}

.nav-item,
.nav-item-link {
    display: inline-block;
    color: var(--white-color);
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 300;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    content: "";
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.nav-item--strong {
    font-weight: 500;
    padding: 15px;
}   

.dropdown {
    box-shadow: none;
    float: right;
    font-size: 12px;
    left: 0;
    list-style: none;
    padding: 0;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1020;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
    width: 550px;
    left: 1px !important;
    animation-name: HeaderDropdownGrow;
    animation-duration: 4s;


}

.dropdown-menu a {
    cursor: pointer;
    position: relative;
}


@keyframes HeaderDropdownGrow {
    form {
        opacity: 0;
        transform: scale (0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}




.dropdown-list {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;


}

.dropdown:hover,
:focus {
    outline: none;
    text-decoration: none;
}

.nav-search {
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    
}

.nav-search-input,
.nav-search-icon {
    padding: 8px 12px;
    margin: 10px 0;
    position: absolute;
}

.nav-search input.nav-search-input {
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
    outline: none;
    
}

.nav-search input.nav-search-input::-webkit-input-placeholder {
    color: #65737e;
 }
  

 .nav-search input.nav-search-input:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  

 .nav-search input.nav-search-input::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  

 .nav-search input.nav-search-input:-ms-input-placeholder {  
    color: #65737e;  
 }

.nav-search span.nav-search-icon {
    z-index: 3;
    color: #4f5b66;
    
}

.user{
    display: flex;
    justify-items: center;
    padding: 15px;
    position: relative;
}

.user-img{

    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgb(54, 30, 30);

}

.user-name{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #63717f;
}

.user-menu{
    position: absolute;
    border-radius: 2px;
    width: 160px;
    top: 100%;
    right: 0;
    padding-left: 0;
    background-color: var(--white-color);
    list-style: none;
    z-index: 1;
    display: none; 
    
    
}

.user:hover .user-menu{
    display: block;
}

.user-menu li{
    
}

.user-menu li > a:hover{
    box-shadow:0 1px 2px #e0e0e0;
    cursor: pointer;
    color: #c72365;
}

.user-menu li > a{
    text-decoration: none;
    color: var(--text-color);
    top: calc(100% + 4px);
    font-size: 14px;
    padding: 4px 8px;
    display: block;

}
.user-menu::before{
    content: "";
    border-width: 15px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4;
    top: -29px;
}
.user-menu li > a:last-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.user-menu li > a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--white-color);
}
