.header{
    background-color: #0e1a4e;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}



.nav-main{
    padding: 0 15px;
    position: fixed;
    justify-content: space-between;
    display: flex;
    position: relative;
    
    
}

.nav-logo{
    width: fit-content;
    position: relative;
    display: inline-block;
    width: 60px;
    margin-left: 0%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.nav-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-list:hover{
    cursor: pointer;
    background-color: #0e1a4e;
}

.nav-item-link{
    padding: 15px;
}
.nav-item{
    display: relative;
    
}

.nav-item,
.nav-item-link{
    display: inline-block;
    color: var(--white-color);
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 300;
}

.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    content: "";
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.nav-item--strong{
    font-weight: 500;
    padding: 15px;
}

.dropdown{
    box-shadow: none;
    display: none;
    float: right;
    font-size: 12px;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1020;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
    width: 550px;
    left: 1px !important;
    animation-name: HeaderDropdownGrow;
    animation-duration: 4s;
    

}

.dropdown-menu a{
    cursor: pointer;
}


@keyframes HeaderDropdownGrow{
    form{
        opacity: 0;
        transform: scale (0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}




.dropdown-list {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    
    
}

.dropdown:hover, :focus {
    outline: none;
    text-decoration: none;
}


